.primaryfill { fill: #009a00; }
.primarystroke { stroke: #009a00; }

text {
	font-size: 45px;
	font-family: 'OCR A Std';
	-inkscape-font-specification: 'OCR A Std';
	fill: #fff;
}

.heading {
	font-size: 60px;
}

.subtext {
	font-size: 30px;
}